{{> header}}
<section>
    <h1 class="section-name">Music Library</h1>
        <div class="container">       
            <div class="card-wrapper">
                <div class="music-card">
                    <img class="card-img" src="/images/girl-1990347_640.jpg" alt="song image">
                    <h3>Dance Music</h3>
                    <p>Something about the song</p>
                    <ul class="interact-buttons">
                        <li><button class="simple-button">To the Library</button></li>
                    </ul>
                    <ul class="library-options">                  
                        <li><a href="#">Like</a></li>
                        <li><a href="#">Add</a></li>                        
                    </ul>
                </div>
                <div class="music-card">
                    <img class="card-img" src="/images/music-player-2951399_640.jpg" alt="song image">
                    <h3>Latino Music</h3>
                    <p>Something about the song</p>
                    <ul class="interact-buttons">
                        <li><button class="simple-button">To the Library</button></li>
                    </ul>
                    <ul class="library-options">                  
                        <li><a href="#">Like</a></li>
                        <li><a href="#">Add</a></li>                        
                    </ul>
                </div>
                <div class="music-card">
                    <img class="card-img" src="/images/musical-background-2886886_640.jpg" alt="song image">
                    <h3>Retro Music</h3>
                    <p>Something about the song</p>
                    <ul class="interact-buttons">
                        <li><button class="simple-button">To the Library</button></li>
                    </ul>
                    <ul class="library-options">                  
                        <li><a href="#">Like</a></li>
                        <li><a href="#">Add</a></li>                        
                    </ul>
                </div>
                <div class="music-card">
                    <img class="card-img" src="/images/headphones-3435885_640.jpg" alt="song image">
                    <h3>Workout Music</h3>
                    <p>Something about the song</p>
                    <ul class="interact-buttons">
                        <li><button class="simple-button">To the Library</button></li>
                    </ul>
                    <ul class="library-options">                  
                        <li><a href="#">Like</a></li>
                        <li><a href="#">Add</a></li>                        
                    </ul>
                </div>
                <div class="music-card">
                    <img class="card-img" src="/images/music-player1-2939936_640.jpg" alt="song image">
                    <h3>Pop-Hits</h3>
                    <p>Something about the song</p>
                    <ul class="interact-buttons">
                        <li><button class="simple-button">To the Library</button></li>
                    </ul>
                    <ul class="library-options">                  
                        <li><a href="#">Like</a></li>
                        <li><a href="#">Add</a></li>                        
                    </ul>
                </div>
            </div>
        </div>
</section>  
{{> footer}}  