{{>header}}
{{#if isCreated}}
    <div>
       {{>createdLibrary}}
    </div> 
{{else}}
<div class="lib-container">
    <h2>{{name}} Music Library</h2>
    <h3>Your Library is still Empty</h3>
    <h3>Create your own library now.</h3>
    <a href="#/create" class="create-button">Create Library</a>
</div>
{{/if}}
{{>footer}}