<div class="music-container">
    <div class="song-title">{{name}}
       <a href="#/like/{{_id}}"><i class="far fa-heart"></i><span class="like-button">{{like}}</span></a>
       <audio controls controlsList="nodownload" src="{{link}}">
            Your browser does not support the
            <code>audio</code> element.</audio>          
    </div>       
</div>